<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="InfoContentCheck">
	<insert id="add" parameterType="InfoContentCheck">
		insert into wxms_Info_Content_Check(pid,content,user_id,applyTime,advise,state,checkTime)
		values(#{pid},#{content},#{user_id},#{applyTime},#{advise},#{state},#{checkTime})
	</insert>
	<insert id="addMore">
	insert into wxms_Info_Content_Check(user_id,pid,applyTime,advise,state,checkTime)values
	<foreach collection="list" item="s" separator=",">
	(#{s.pid},#{s.content},#{s.user_id},#{s.applyTime},#{s.advise},#{s.state},#{s.checkTime})
	</foreach>
	</insert>
	<update id="update" parameterType="InfoContentCheck">
		update wxms_Info_Content_Check set
		pid=#{pid},
		content=#{content},
		user_id=#{user_id},
		applyTime=#{applyTime},
		advise=#{advise},
		state=#{state},
		checkTime=#{checkTime},
		where id=#{id}
	</update>
	<select id="queryById" parameterType="int" resultType="InfoContentCheck">
	select * from wxms_Info_Content_Check where id=#{id}
	</select>
	<select id="queryAll"  resultType="InfoContentCheck">
	select * from wxms_Info_Content_Check where id&lt;100
	</select>
	<select id="queryByPage" parameterType="map" resultType="InfoContentCheck">
	select * from wxms_Info_Content_Check limit #{start},#{pageSize}
	</select>
	<select id="queryByInfoContentCheckname"   resultType="InfoContentCheck">
	select * from wxms_Info_Content_Check where Info_Content_Checkname like #{Info_Content_Checkname}
	</select>
	<select id="getTotals" resultType="int">
	select count(*) from wxms_Info_Content_Check
	</select>
	<delete id="deleteById">
	delete from wxms_Info_Content_Check where id=#{id}
	</delete>
	<delete id="deleteMore">
	delete from wxms_Info_Content_Check where id in
	<foreach collection="array" open="(" close=")" separator="," item="id">
	#{id}
	</foreach>
	</delete>
</mapper>